In [3]:
import pandas as pd
import numpy as np

Reading csv file using pandas

In [4]:
df1 = pd.read_csv('Flipkart_ecommerce.csv')
df1.head(2)

                            uniq_id  ...                             product_specifications
0  c2d766ca982eca8304150849735ffef9  ...  {"product_specification"=>[{"key"=>"Number of ...
1  7f7036a6d550aaa89d34c77bd39a5e48  ...  {"product_specification"=>[{"key"=>"Installati...

[2 rows x 15 columns]

In [5]:
df1.shape

(20000, 15)

In [6]:
df1['brand'].dtypes

dtype('O')

In [7]:
df1.columns

Index(['uniq_id', 'crawl_timestamp', 'product_url', 'product_name',
       'product_category_tree', 'pid', 'retail_price', 'discounted_price',
       'image', 'is_FK_Advantage_product', 'description', 'product_rating',
       'overall_rating', 'brand', 'product_specifications'],
      dtype='object')

In [8]:
df1.product_category_tree.describe()

count                                                20000
unique                                                6466
top       ["Jewellery >> Necklaces & Chains >> Necklaces"]
freq                                                  1567
Name: product_category_tree, dtype: object

In [9]:
df1.isnull().sum().sort_values(ascending = False)

brand                      5864
discounted_price             78
retail_price                 78
product_specifications       14
image                         3
description                   2
overall_rating                0
product_rating                0
is_FK_Advantage_product       0
pid                           0
product_category_tree         0
product_name                  0
product_url                   0
crawl_timestamp               0
uniq_id                       0
dtype: int64

In [10]:
df2 = df1.drop(['discounted_price','retail_price','overall_rating','product_rating',], axis = 'columns')
df2.head(2)

                            uniq_id  ...                             product_specifications
0  c2d766ca982eca8304150849735ffef9  ...  {"product_specification"=>[{"key"=>"Number of ...
1  7f7036a6d550aaa89d34c77bd39a5e48  ...  {"product_specification"=>[{"key"=>"Installati...

[2 rows x 11 columns]

In [11]:
df2.isnull().sum().sort_values(ascending = False)

brand                      5864
product_specifications       14
image                         3
description                   2
is_FK_Advantage_product       0
pid                           0
product_category_tree         0
product_name                  0
product_url                   0
crawl_timestamp               0
uniq_id                       0
dtype: int64

In [12]:
categoricals = df1.select_dtypes(exclude=[np.number])
categoricals.describe()
#The count column indicates the count of non-null observations, while unique counts the number of unique values. top is the most commonly occurring value, with the frequency of the top value shown by freq.

                                 uniq_id  ...                             product_specifications
count                              20000  ...                                              19986
unique                             20000  ...                                              18825
top     e137c98f528d8cdaf5bff7d56d088512  ...  {"product_specification"=>[{"key"=>"Type", "va...
freq                                   1  ...                                                 71

[4 rows x 13 columns]

In [13]:
df3 = df2.drop(['crawl_timestamp','is_FK_Advantage_product','image','product_url','pid','uniq_id'], axis = 'columns')

df3.columns

Index(['product_name', 'product_category_tree', 'description', 'brand',
       'product_specifications'],
      dtype='object')

In [14]:
df3['product_name'] = df3.product_name.astype(str)
df3['product_specifications'] = df3.product_specifications.astype(str)
df3['description'] = df3.description.astype(str)

Converting to lower case

In [15]:
new_Index = ['product_name', 'product_category_tree','description','brand','product_specifications']

In [16]:
df3.columns= new_Index

In [17]:
df1.index

RangeIndex(start=0, stop=20000, step=1)

In [18]:
for index in new_Index:
    df3[index]=df3[index].str.lower()
df3.head(1)

                          product_name  ...                             product_specifications
0  alisha solid women's cycling shorts  ...  {"product_specification"=>[{"key"=>"number of ...

[1 rows x 5 columns]

In [19]:
df3.isnull().sum().sort_values(ascending = False)

brand                     5864
product_specifications       0
description                  0
product_category_tree        0
product_name                 0
dtype: int64

In [20]:
df3.replace('[^a-zA-Z]', ' ', inplace= True)
#in the columns of data we are keeping only a-z and A-Z and inplace of punctutation or other things we are replacing it with space and 
#we are using inpplace = true to update the data

In [21]:
categoricals = df3.select_dtypes(exclude=[np.number])
categoricals.describe()

                                      product_name  ...                             product_specifications
count                                        20000  ...                                              20000
unique                                       12623  ...                                              18813
top     thelostpuppy back cover for apple ipad air  ...  {"product_specification"=>[{"key"=>"type", "va...
freq                                           141  ...                                                 71

[4 rows x 5 columns]

In [22]:
df3.value_counts(df3.brand)

brand
allure auto      469
regular          314
voylla           299
slim             288
thelostpuppy     250
                ...
inkt               1
innovative         1
saffron craft      1
safeanbtouch       1
Â tarkan            1
Length: 3369, dtype: int64

In [23]:
#Independent Variable
X= df3.drop(['product_category_tree'], axis = 1)

In [24]:
X.shape

(20000, 4)

In [25]:
df3.dtypes

product_name              object
product_category_tree     object
description               object
brand                     object
product_specifications    object
dtype: object

In [26]:
df3.value_counts(df3.product_category_tree).sort_values(ascending = True).tail(40)

product_category_tree
["clothing >> men's clothing >> t-shirts >> northern lights t-shirts"]                                                  46
["automotive >> accessories & spare parts >> spares & performance parts >> car spare parts >> vehicle horns"]           47
["clothing >> men's clothing >> t-shirts >> nimya t-shirts"]                                                            50
["clothing >> women's clothing >> lingerie, sleep & swimwear >> bras >> tia by ten on ten bras"]                        51
["watches >> wrist watches >> sonata wrist watches"]                                                                    56
["furniture >> living room >> sofas & sectionals"]                                                                      59
["baby care >> baby & kids gifts >> stickers >> walldesign stickers"]                                                   65
["home furnishing >> cushions, pillows & covers >> cushion covers"]                                                     67
["clothing >> women's clothing >> lingerie, sleep & swimwear >> bras >> ploomz bras"]                                   70
["home decor & festive needs >> wall decor & clocks >> wall decals & stickers >> destudio wall decals & stickers"]      71
["kitchen & dining >> coffee mugs >> rockmantra coffee mugs"]                                                           72
["watches >> wrist watches >> maxima wrist watches"]                                                                    73
["baby care >> baby & kids gifts >> stickers >> wallmantra stickers"]                                                   75
["furniture >> pet furniture"]                                                                                          76
["clothing >> men's clothing >> t-shirts >> okane t-shirts"]                                                            82
["footwear >> women's footwear >> casual shoes >> loafers"]                                                             87
["footwear >> women's footwear >> flats"]                                                                               87
["clothing >> men's clothing >> t-shirts >> oviyon t-shirts"]                                                           87
["kitchen & dining >> coffee mugs >> printland coffee mugs"]                                                            89
["home furnishing >> bath linen >> towels"]                                                                             93
["jewellery >> earrings"]                                                                                               93
["kitchen & dining >> coffee mugs >> prithish coffee mugs"]                                                             94
["footwear >> women's footwear >> heels"]                                                                               97
["clothing >> women's clothing >> lingerie, sleep & swimwear >> bras >> grafion bras"]                                 101
["mobiles & accessories >> tablet accessories >> cases & covers >> enthopia cases & covers"]                           101
["footwear >> women's footwear >> casual shoes >> boots"]                                                              118
["home furnishing >> curtains & accessories >> curtains"]                                                              131
["clothing >> men's clothing >> t-shirts >> numero uno t-shirts"]                                                      135
["mobiles & accessories >> tablet accessories >> cases & covers >> dailyobjects cases & covers"]                       144
["jewellery >> jewellery sets"]                                                                                        161
["footwear >> women's footwear >> wedges"]                                                                             186
["home furnishing >> bed linen >> blankets, quilts & dohars"]                                                          190
["clothing >> women's clothing >> lingerie, sleep & swimwear >> bras >> s4s bras"]                                     197
["mobiles & accessories >> tablet accessories >> cases & covers >> thelostpuppy cases & covers"]                       250
["jewellery >> bangles, bracelets & armlets >> bracelets"]                                                             251
["tools & hardware >> tools >> gardening tools >> plant containers & sets >> plant container sets"]                    332
["jewellery >> bangles, bracelets & armlets >> bangles"]                                                               430
["automotive >> accessories & spare parts >> car interior & exterior >> car interior >> car mats"]                     522
["jewellery >> rings"]                                                                                                 710
["jewellery >> necklaces & chains >> necklaces"]                                                                      1567
dtype: int64

In [27]:
#dependent variable
y = df3[['product_category_tree']]

In [28]:
y.head(2)

                               product_category_tree
0  ["clothing >> women's clothing >> lingerie, sl...
1  ["furniture >> living room furniture >> sofa b...

In [29]:
y.shape

(20000, 1)

In [30]:

X_c = pd.get_dummies(X)

In [31]:
print(X_c)

       product_name_109f checkered women's regular skirt  ...  product_specifications_{"product_specification"=>{"key"=>"style code", "value"=>"8024yl04"}}
0                                                      0  ...                                                  0
1                                                      0  ...                                                  0
2                                                      0  ...                                                  0
3                                                      0  ...                                                  0
4                                                      0  ...                                                  0
...                                                  ...  ...                                                ...
19995                                                  0  ...                                                  0
19996                                                  0  ...                                                  0
19997                                                  0  ...                                                  0
19998                                                  0  ...                                                  0
19999                                                  0  ...                                                  0

[20000 rows x 52312 columns]

In [32]:
X_c.shape

(20000, 52312)

In [33]:
from sklearn.model_selection import train_test_split

In [34]:
X_train, X_test, y_train, y_test = train_test_split(X_c, y)

In [35]:
pd.value_counts(df3.description)

thelostpuppy back cover for apple ipad air (multicolor)\n                         price: rs. 599\n\t\t\t\t\n\t\t\tdesigned to protect and impress. the lost puppy brings you robust mobile covers in all sizes. with the special anti-slip technology this protects your phone in more ways than one. the matte finish and superior quality add elegance, class and sturdiness to the covers.\ndesigned to protect and impress. the lost puppy brings you robust mobile covers in all sizes. with the special anti-slip technology this protects your phone in more ways than one. the matte finish and superior quality add elegance, class and sturdiness to the covers.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          139
thelostpuppy back cover for apple ipad air 2 (multicolor)\n                         price: rs. 599\n\t\t\t\t\n\t\t\tdesigned to protect and impress. the lost puppy brings you robust mobile covers in all sizes. with the special anti-slip technology this protects your phone in more ways than one. the matte finish and superior quality add elegance, class and sturdiness to the covers.\ndesigned to protect and impress. the lost puppy brings you robust mobile covers in all sizes. with the special anti-slip technology this protects your phone in more ways than one. the matte finish and superior quality add elegance, class and sturdiness to the covers.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         95
buy homeehub polyester multicolor self design eyelet door curtain at rs. 1332 at flipkart.com. only genuine products. free shipping. cash on delivery!                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               58
theskinmantra sleeve for all versions of apple ipad (multicolor)\n                         price: rs. 549\n\t\t\t\t\n\t\t\tthe hot new ipad sleeves from the house of theskinmantra are here. these are waterproof and fadeproof sleeves for all ipad versions (ipad 1, 2, 3, 4, ipad air 1, ipad air 2, ipad air 3) . the cushioned apple ipad sleeves are also compatible with all 9/10 inch tablets such as nexus 9, asus fonepad . these are made of hydra-flex material which means that they are water proof, and the designs on them are fadeproof for life. made from 4.2 mm thick cushioned material, these come with a high quality textured chain. these apple ipad sleeves offer ultimate utility and style. carry your gadget in one of these sleeves. second look guaranteed!\nthe hot new ipad sleeves from the house of theskinmantra are here. these are waterproof and fadeproof sleeves for all ipad versions (ipad 1, 2, 3, 4, ipad air 1, ipad air 2, ipad air 3) . the cushioned apple ipad sleeves are also compatible with all 9/10 inch tablets such as nexus 9, asus fonepad . these are made of hydra-flex material which means that they are water proof, and the designs on them are fadeproof for life. made from 4.2 mm thick cushioned material, these come with a high quality textured chain. these apple ipad sleeves offer ultimate utility and style. carry your gadget in one of these sleeves. second look guaranteed!                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        43
fashion jewellery alloy necklace - buy fashion jewellery alloy necklace only for rs. 239 from flipkart.com. only genuine products. 30 day replacement guarantee. free shipping. cash on delivery!                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    38
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   ...
pearl paradise hydro rhodium quartz silver dangle earring - buy pearl paradise hydro rhodium quartz silver dangle earring only for rs. 780 from flipkart.com. only genuine products. 30 day replacement guarantee. free shipping. cash on delivery!                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   1
clovia women's tube bra\n                         price: rs. 299\n\t\t\t\t\n\t\t\tthis lace tube bra is a must-have in every girl's wardrobe. it is a perfect solution for off-shoulder or low neck tops and dresses. team it with a tee or vest with deep cut arm holes and make a style statement of your own. this lace fabric has beautiful intricate patterns in rich colour. it is treated to be soft on skin and to fit snugly around you. it is a completely stretchable tube top bra that is comfortable and sexy, made from highly specialised knitting technology it is designed to take the shape of bust and provide optimum support at the same time.\nthis lace tube bra is a must-have in every girl's wardrobe. it is a perfect solution for off-shoulder or low neck tops and dresses. team it with a tee or vest with deep cut arm holes and make a style statement of your own. this lace fabric has beautiful intricate patterns in rich colour. it is treated to be soft on skin and to fit snugly around you. it is a completely stretchable tube top bra that is comfortable and sexy, made from highly specialised knitting technology it is designed to take the shape of bust and provide optimum support at the same time.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                1

In [36]:

df3['description'].replace('', np.nan, inplace=True)

In [37]:
df3.dropna(subset=['description'], inplace=True)

In [38]:
df3.isnull().sum().sort_values(ascending = False)

brand                     5864
product_specifications       0
description                  0
product_category_tree        0
product_name                 0
dtype: int64

In [39]:
df3.dtypes

product_name              object
product_category_tree     object
description               object
brand                     object
product_specifications    object
dtype: object

In [40]:
from sklearn.ensemble import RandomForestClassifier
RF_clf = RandomForestClassifier(n_estimators=10)

ml = RF_clf.fit(X_train, y_train)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.

In [41]:
ml.score(X_test, y_test)

0.5222

In [42]:
y_test

                                   product_category_tree
13959  ["clothing >> men's clothing >> t-shirts >> nu...
1686   ["clothing >> women's clothing >> western wear...
970    ["kitchen & dining >> coffee mugs >> akup coff...
18501  ["kitchen & dining >> kitchen tools >> kitchen...
715                               ["jewellery >> rings"]
...                                                  ...
19815  ["baby care >> baby & kids gifts >> stickers >...
2579   ["clothing >> women's clothing >> lingerie, sl...
14715  ["clothing >> women's clothing >> western wear...
5384   ["watches >> wrist watches >> yves bertelin wr...
932    ["home decor & festive needs >> candles & frag...

[5000 rows x 1 columns]

In [43]:
ml.predict(X_test)

array(['["clothing >> men\'s clothing >> t-shirts >> nucode t-shirts"]',
       '["footwear >> women\'s footwear >> wedges"]',
       '["footwear >> women\'s footwear >> wedges"]', ...,
       '["clothing >> women\'s clothing >> western wear >> leggings & jeggings >> leggings & jeggings >> ne leggings & jeggings"]',
       '["footwear >> women\'s footwear >> wedges"]',
       '["footwear >> women\'s footwear >> wedges"]'], dtype=object)