In [1]:
import pandas as pd
import numpy as np

Reading csv file using pandas

In [2]:
df1 = pd.read_csv('Flipkart_ecommerce.csv')
df1.head(2)

                            uniq_id  ...                             product_specifications
0  c2d766ca982eca8304150849735ffef9  ...  {"product_specification"=>[{"key"=>"Number of ...
1  7f7036a6d550aaa89d34c77bd39a5e48  ...  {"product_specification"=>[{"key"=>"Installati...

[2 rows x 15 columns]

shape is used to get the dimension of the dataframe

we have 20000 rows and 15 columns

In [3]:
df1.shape

(20000, 15)

data type of column brand

In [4]:
df1['brand'].dtypes

dtype('O')

Name of columns

In [5]:
df1.columns

Index(['uniq_id', 'crawl_timestamp', 'product_url', 'product_name',
       'product_category_tree', 'pid', 'retail_price', 'discounted_price',
       'image', 'is_FK_Advantage_product', 'description', 'product_rating',
       'overall_rating', 'brand', 'product_specifications'],
      dtype='object')

describe() is used to get more information about a particular column to help us in understanding the data better

In [6]:
df1.product_category_tree.describe()

count                                                20000
unique                                                6466
top       ["Jewellery >> Necklaces & Chains >> Necklaces"]
freq                                                  1567
Name: product_category_tree, dtype: object

isnull() is used to find number of null values in each column and using 

sort_values() we are sorting it in ascending order here

In [7]:
df1.isnull().sum().sort_values(ascending = False)

brand                      5864
discounted_price             78
retail_price                 78
product_specifications       14
image                         3
description                   2
overall_rating                0
product_rating                0
is_FK_Advantage_product       0
pid                           0
product_category_tree         0
product_name                  0
product_url                   0
crawl_timestamp               0
uniq_id                       0
dtype: int64

Dropping columns discounted_price, retail_price, overall_rating and product_rating as they don't contribute significantly in determining the prodcut category

In [8]:
df2 = df1.drop(['discounted_price','retail_price','overall_rating','product_rating',], axis = 'columns')
df2.head(2)

                            uniq_id  ...                             product_specifications
0  c2d766ca982eca8304150849735ffef9  ...  {"product_specification"=>[{"key"=>"Number of ...
1  7f7036a6d550aaa89d34c77bd39a5e48  ...  {"product_specification"=>[{"key"=>"Installati...

[2 rows x 11 columns]

Checking for null values in the df2 dataframe

In [9]:
df2.isnull().sum().sort_values(ascending = False)

brand                      5864
product_specifications       14
image                         3
description                   2
is_FK_Advantage_product       0
pid                           0
product_category_tree         0
product_name                  0
product_url                   0
crawl_timestamp               0
uniq_id                       0
dtype: int64

we are gaining more information of the columns that do not have numerical data type

In [10]:
categoricals = df1.select_dtypes(exclude=[np.number])
categoricals.describe()
#The count column indicates the count of non-null observations, while unique counts the number of unique values. top is the most commonly occurring value, with the frequency of the top value shown by freq.

                                 uniq_id  ...                             product_specifications
count                              20000  ...                                              19986
unique                             20000  ...                                              18825
top     78fb91847feb9d935cde44c2fdd79439  ...  {"product_specification"=>[{"key"=>"Type", "va...
freq                                   1  ...                                                 71

[4 rows x 13 columns]

We are dropping crawl_timestamp, is_FK_Advantage_product, image, product_url,pid, uniq_id as they don't contribute significantly when determining product category

In [11]:
df3 = df2.drop(['crawl_timestamp','is_FK_Advantage_product','image','product_url','pid','uniq_id'], axis = 'columns')

df3.columns

Index(['product_name', 'product_category_tree', 'description', 'brand',
       'product_specifications'],
      dtype='object')

Making sure product_name, product_specifications, description has the dtype string as we will need it later on when implementing the algortihms

In [12]:
df3['product_name'] = df3.product_name.astype(str)
df3['product_specifications'] = df3.product_specifications.astype(str)
df3['description'] = df3.description.astype(str)

Converting to lower case

In [13]:
new_Index = ['product_name', 'product_category_tree','description','brand','product_specifications']

In [14]:
df3.columns= new_Index

In [15]:
df1.index

RangeIndex(start=0, stop=20000, step=1)

In [16]:
for index in new_Index:
    df3[index]=df3[index].str.lower()
df3.head(1)

                          product_name  ...                             product_specifications
0  alisha solid women's cycling shorts  ...  {"product_specification"=>[{"key"=>"number of ...

[1 rows x 5 columns]

Checking for null values in the dataframe df3

In [17]:
df3.isnull().sum().sort_values(ascending = False)

brand                     5864
product_specifications       0
description                  0
product_category_tree        0
product_name                 0
dtype: int64

In [18]:
df3.replace('[^a-zA-Z]', ' ', inplace= True)
#in the columns of data we are keeping only a-z and A-Z and inplace of punctutation or other things we are replacing it with space and 
#we are using inpplace = true to update the data

In [19]:
categoricals = df3.select_dtypes(exclude=[np.number])
categoricals.describe()

                                      product_name  ...                             product_specifications
count                                        20000  ...                                              20000
unique                                       12623  ...                                              18813
top     thelostpuppy back cover for apple ipad air  ...  {"product_specification"=>[{"key"=>"type", "va...
freq                                           141  ...                                                 71

[4 rows x 5 columns]

value_counts is used to get the count of each value present under a column

In [20]:
df3.value_counts(df3.brand)

brand
allure auto      469
regular          314
voylla           299
slim             288
thelostpuppy     250
                ...
inkt               1
innovative         1
saffron craft      1
safeanbtouch       1
 tarkan            1
Length: 3369, dtype: int64

In [21]:
#Independent Variable
X= df3.drop(['product_category_tree'], axis = 1)

Shape of the independent variable

In [22]:
X.shape

(20000, 4)

In [23]:
#dependent variable

y = df3[['product_category_tree']]

In [24]:
y.head(2)

                               product_category_tree
0  ["clothing >> women's clothing >> lingerie, sl...
1  ["furniture >> living room furniture >> sofa b...

In [25]:
y.shape

(20000, 1)

Instead of get_dummies() I tried to implement Tfidf and BOW but it was changing the dimension of X_c and hence while implementing train_test_split it was giving an error saying "Found input variables with inconsistent numbersof samples: [4, 20000]

get_dummies() is used for data manipulation. It converts categorical data into dummy or indicator variables.

Using this to convert categorical data into vector form as machine learning algortihms understand numbers and not language

In [26]:
X_c = pd.get_dummies(X)

In [27]:
print(X_c)

       product_name_109f checkered women's regular skirt  ...  product_specifications_{"product_specification"=>{"key"=>"style code", "value"=>"8024yl04"}}
0                                                      0  ...                                                  0
1                                                      0  ...                                                  0
2                                                      0  ...                                                  0
3                                                      0  ...                                                  0
4                                                      0  ...                                                  0
...                                                  ...  ...                                                ...
19995                                                  0  ...                                                  0
19996                                                  0  ...                                                  0
19997                                                  0  ...                                                  0
19998                                                  0  ...                                                  0
19999                                                  0  ...                                                  0

[20000 rows x 52312 columns]

In [28]:
X_c.shape

(20000, 52312)

For training the model

In [29]:
from sklearn.model_selection import train_test_split

In [30]:
X_train, X_test, y_train, y_test = train_test_split(X_c, y)

In [31]:

df3['description'].replace('', np.nan, inplace=True)

In [32]:
df3.dropna(subset=['description'], inplace=True)

Using RandomForestClassifier as product categorization is a classification problem

Random forest classifier will handle the missing values and maintain the accuracy of a large proportion of data.

In [33]:
from sklearn.ensemble import RandomForestClassifier
RF_clf = RandomForestClassifier(n_estimators=10)

ml = RF_clf.fit(X_train, y_train)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.

Accuracy score

In [34]:
accuracy_score = ml.score(X_test, y_test)

0.5076

In [35]:
y_test

                                   product_category_tree
18404  ["home entertainment >> video players & access...
7400   ["toys & school supplies >> school supplies >>...
14897         ["footwear >> women's footwear >> wedges"]
5051    ["jewellery >> necklaces & chains >> necklaces"]
12668  ["jewellery >> bangles, bracelets & armlets >>...
...                                                  ...
10026  ["bags, wallets & belts >> bags >> hand bags >...
19026  ["home decor & festive needs >> table decor & ...
8777   ["watches >> wrist watches >> maxima wrist wat...
10070  ["clothing >> women's clothing >> western wear...
14708  ["jewellery >> bangles, bracelets & armlets >>...

[5000 rows x 1 columns]

Prediction

When we give X_test as input this is what we get as output

In [50]:
pred = ml.predict(X_test)
print(pred)

['["footwear >> women\'s footwear >> wedges"]'
 '["footwear >> women\'s footwear >> wedges"]'
 '["footwear >> women\'s footwear >> wedges"]' ...
 '["footwear >> women\'s footwear >> wedges"]'
 '["footwear >> women\'s footwear >> wedges"]'
 '["jewellery >> bangles, bracelets & armlets >> bangles"]']

Confusion matrix

In [51]:
from sklearn.metrics import confusion_matrix,accuracy_score

A confusion matrix is a table that is often used to describe the performance of a classification model (or "classifier") on a set of test data for which the true values are known

In [52]:
confusion_matrix(y_test, pred)

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])